/* definition */
@font-face {
    font-family: aGoblinAppears;
    src: url('../fonts/a_goblin_appears-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
body {
    margin: 0;
    padding: 0;
    font-family: aGoblinAppears;
    font-weight:lighter;
    font-size: 2vmin;
    letter-spacing: 0.5em;
    background-color: black;
    color: #1FC742;
}

.container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#above-board {
    width: 87vmin; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px;
}

#board {
    border: 5px solid #1FC742;
    width: 87vmin;
    height: 87vmin;
    position: relative;
}

.player {
    background-color: #1FC742;
    position: absolute;
    border-radius: 20%;
    margin: 1px;
}

.collectible {
    background-image: url("../img/red-pixel-heart.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute; 
} 

.start-and-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.levels {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-level {
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    font-family: inherit;
    font-weight: inherit;
    background-color: black;
    color: #1FC742;
    border: 2px solid #1FC742;
}

#countdown {
    font-size: 5em;
    font-weight: bold;
    display: none;
}

#game-over {
    display: none;
}

/* @media (orientation: landscape) {

    #above-board {
        width: 90vh;
    }
    #board {
        width: 90vh;
        height: 90vh;
    }
}*/
