body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    border: 5px solid black;
    width: 80vw;
    height: 80vw;
    position: relative;
}

.player {
    background-color: blue;
    position: absolute;
}

.collectible {
    background-color: chocolate;
    position: absolute;
}

#score-box {
    margin: 50px;
}

@media (orientation: landscape) {
    .container {
        flex-direction: row;
    }

    #board {
        width: 80vh;
        height: 80vh;
    }
}
